pipeline/MainPipeline.json
{
	"name": "MainPipeline",
	"properties": {
		"activities": [
			{
				"name": "RequestType",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.RequestType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Entire Design",
							"activities": [
								{
									"name": "Design",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Design",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServerName_Para": {
												"value": "@pipeline().parameters.ClientServerName",
												"type": "Expression"
											},
											"DBName_Para": {
												"value": "@pipeline().parameters.ClientDBName",
												"type": "Expression"
											},
											"UserName_Para": {
												"value": "@pipeline().parameters.ClientUserName",
												"type": "Expression"
											},
											"Pass_Para": {
												"value": "@pipeline().parameters.ClientPass",
												"type": "Expression"
											},
											"FormDesignID": {
												"value": "@pipeline().parameters.FormDesignID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "DesignVersion",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Design",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DesignVersion",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServerName_Para": {
												"value": "@pipeline().parameters.ClientServerName",
												"type": "Expression"
											},
											"DBName_Para": {
												"value": "@pipeline().parameters.ClientDBName",
												"type": "Expression"
											},
											"UserName_Para": {
												"value": "@pipeline().parameters.ClientUserName",
												"type": "Expression"
											},
											"Pass_Para": {
												"value": "@pipeline().parameters.ClientPass",
												"type": "Expression"
											},
											"FormDesignID": {
												"value": "@pipeline().parameters.FormDesignID",
												"type": "Expression"
											},
											"FormDesignVersionID": {
												"value": "@pipeline().parameters.FormDesignVersionID",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Design Version",
							"activities": [
								{
									"name": "DesignVersionCopy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DesignVersion",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServerName_Para": {
												"value": "@pipeline().parameters.ClientServerName",
												"type": "Expression"
											},
											"DBName_Para": {
												"value": "@pipeline().parameters.ClientDBName",
												"type": "Expression"
											},
											"UserName_Para": {
												"value": "@pipeline().parameters.ClientUserName",
												"type": "Expression"
											},
											"Pass_Para": {
												"value": "@pipeline().parameters.ClientPass",
												"type": "Expression"
											},
											"FormDesignID": {
												"value": "@pipeline().parameters.FormDesignID",
												"type": "Expression"
											},
											"FormDesignVersionID": {
												"value": "@pipeline().parameters.FormDesignVersionID",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Expression Rule",
							"activities": [
								{
									"name": "ExpressionRuleCopy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ExpressionRule",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServerName_Para": {
												"value": "@pipeline().parameters.ClientServerName",
												"type": "Expression"
											},
											"DBName_Para": {
												"value": "@pipeline().parameters.ClientDBName",
												"type": "Expression"
											},
											"UserName_Para": {
												"value": "@pipeline().parameters.ClientUserName",
												"type": "Expression"
											},
											"Pass_Para": {
												"value": "@pipeline().parameters.ClientPass",
												"type": "Expression"
											},
											"FormDesignID": {
												"value": "@pipeline().parameters.FormDesignID",
												"type": "Expression"
											},
											"FormDesignVersionID": {
												"value": "@pipeline().parameters.FormDesignVersionID",
												"type": "Expression"
											},
											"DocumentRuleID": {
												"value": "@pipeline().parameters.DocumentRuleID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Update QueueStatus To Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Check For IsMasterList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[UI].[SyncUpdateQueueStatus]",
					"storedProcedureParameters": {
						"QID": {
							"value": {
								"value": "@pipeline().parameters.QID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"QStatus": {
							"value": "3",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SourceSqlServerLS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Enable Table Properties",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Check For IsMasterList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[UI].[SyncEnableTableProperties]"
				},
				"linkedServiceName": {
					"referenceName": "Target_SqlServerLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"ClientServerName": {
							"value": "@pipeline().parameters.ClientServerName",
							"type": "Expression"
						},
						"ClientDBName": {
							"value": "@pipeline().parameters.ClientDBName",
							"type": "Expression"
						},
						"ClientUserNameLS": {
							"value": "@pipeline().parameters.ClientUserName",
							"type": "Expression"
						},
						"ClientPassLS": {
							"value": "@pipeline().parameters.ClientPass",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check For IsMasterList",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Script1').output.resultSets[0].IsMasterList,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Stored procedure for FolderCopy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[FolderCopyProc]",
								"storedProcedureParameters": {
									"FolderID": {
										"value": {
											"value": "@concat('select FolderID from fldr.folder where Name = (select FormName from ui.formdesign where FormID = ',pipeline().parameters.FormDesignID)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IsMasterList": {
										"value": "1",
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SourceSqlServerLS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data to Azure DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Stored procedure for FolderCopy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT ID, SqlQuery FROM [Temp].[FolderQuery] order by ID",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "delete [dbo].[SqlQuery]\n",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_SqlServerTableDS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Concatenating Queries",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data to Azure DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT STRING_AGG(CONVERT(NVARCHAR(MAX), ISNULL(SqlQuery,' ')),' ') within group(order by ID asc)  AS SqlQuery FROM [dbo].[SqlQuery]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "RequestType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SourceSqlServerLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('select IsMasterList from ui.formdesign where FormID = ',pipeline().parameters.FormDesignID)",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"QID": {
				"type": "string"
			},
			"FormDesignID": {
				"type": "string"
			},
			"FormDesignVersionID": {
				"type": "string"
			},
			"ClientServerName": {
				"type": "string"
			},
			"ClientDBName": {
				"type": "string"
			},
			"ClientUserName": {
				"type": "string"
			},
			"ClientPass": {
				"type": "string"
			},
			"RequestType": {
				"type": "string"
			},
			"DocumentRuleID": {
				"type": "string"
			}
		},
		"variables": {
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-18T08:00:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}